.TopMenuContainer {
    display: flex;
    flex: 1;
    min-height: 150;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
   
}

.TopButton {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-content: baseline;   
    text-decoration: none;
    padding: 0.25em;
}

.TopOffer {
    display: flex;
    flex: 1;
    flex-grow: 2;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


.LoginSingButton {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    padding: 0.25em;
}


.bigIcon {
    font-size: 2em;
    padding-bottom: 0.25em;
}

.TopMenuLogo {
    align-self: center;
}

