.article_author_container {
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1em 0em 0em 0em;
  
}
.avatar_big {
 
  
  display: flex;
  justify-content: flex-end;

}
.avatar_big img {
  height: 2em;


  
}
.article_author_name {
  font-size: 1em;
  padding: 0em 1em 0em 1em;
  color: rgb(24, 24, 24);

 
  flex-grow: 0;
}