.article_author_container {
  border: 1px solid #aaa;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}
.avatar_big {
  border: 1px solid #bbb;
  
  display: flex;
  justify-content: flex-end;

}
.avatar_big img {
  height: 2em;


  
}
.article_author_name {
  

  border: 1px solid #ccc;
  flex-grow: 0;
}