.comment_author_date{
    font-weight: 300;
    font-size: 0.8em;
    color: #555;
}
.fas{
    margin: 0em 0.5em 0em 0em;
}
.comment_box{
    font-size: 0.9em;
    
    font-weight: 400;
    color :#555;
}