.vote  {
    background: #fff; 
    color:  #b8ae58;
    font-weight: 600;
    font-size: 0.9em;
    padding: 0.5em 0.5em 0.5em 1em;
    margin: 0em 0.5em 0em 0.5em;
    border: 1px solid #e9df89;
}

.vote:hover{
    background: #fff; 
    color:  #999146;
}
.votes_number{
    color: #b8ae58;
}

.vote:disabled{
    background: #fff; 
    color:  #eee;
    border: 1px solid #eee;
}
