
.login_message{
    display: flex;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background: #eee;
}


.label_login{
    display: flex;
    margin: 0.5em 0.5em 0.5em 0.5em;
}


.form_login{
    display: flex;
    flex-direction: column;
   
    justify-content: flex-start;
   
}
