
.login_message{
    display: flex;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background: #eee;
}

.form_login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.label_login{
    display: flex;
    margin: 0.5em 0.5em 0.5em 0.5em;
}


@media only screen and (max-width: 768px) {

.form_login{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: flex-start;
    border: 1px solid #ccc;
}
}