.TwoColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login_message{
    display: flex;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    background: #eee;
}


.label_login{
    display: flex;
    margin: 0.5em 0.5em 0.5em 0.5em;
}


.form_login{
    /* width: 100%; */
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1em;
    justify-content: flex-start;
   
}

.LoginSubmit {
    width: 20vw;
}
