.DropMenu {
    position: fixed;
    
    top: 5.8em;
    
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    padding: 1em 1em .5em 1em;
    margin: 0.5em 0em 0em 0em;

    background-color: rgba(202, 231, 250, 0.9);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}

.DropMenu i {
    color: teal;
}


.DropMenuButton {
    text-decoration: none;
    text-transform: none;
    font-size: 1em;
    letter-spacing: inherit;
   

    padding: 0.8em 1em 1em 0em;
    background: none;
   
}


  

