.DropMenu {
    position: fixed;
    
    top: 5.8em;
    min-width: 20%;
    
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    padding: 1em 1em .5em 1em;
    margin: 0.5em 0em 0em 0em;

    background-color: rgba(202, 231, 250, 0.9);
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
@media only screen and (max-width: 768px) {
.DropMenu {
    display: flex;
   
    top: 3.8em;
    left: 0em;
   
    width: 100%;
    margin: 0em;
    padding: 0em, 0em, .25em, 1em;
    background-color: rgba(202, 231, 250, 1);
    
   
}
}

.DropMenu i {
    color: teal;
}


.DropMenuButton {
    text-decoration: none;
    text-transform: none;
    font-size: 1em;
    letter-spacing: inherit;
   

    padding: 0.8em 1em 1em 0em;
    background: none;
   
}


  

