.DropMenu {
    position: fixed;
    
    top: 5.8em;
    
    display: flex;
    flex-direction: column;
    align-self: flex-start;

    padding: 1em 1em 1em 1em;
    margin: 0.5em 0em 0em 0em;

    background-color: aquamarine;
}

.DropMenuButton {

    text-transform: none;
    font-size: 0.8em;
    letter-spacing: inherit;
    color: inherit;

    padding: 0.8em 1em 1em 0em;
    background: none;
   
}

.DropmenuButton :active {
    color: navy;
  }
  
.DropmenuButton :hover {
    text-decoration: underline;
}

