.TopicsButton {
    font-weight: 600;
    text-decoration: none !important;
    font-size: 1em;
    margin: 0.25em 0em .5em 0em;
    padding: 0em .5em .5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    /* background: -webkit-linear-gradient(rgba(62, 146, 174, 0), rgba(62, 146, 174, 0.445));

   border-right: 1em solid teal; */
}
.artCount{
    display: block;
    width: 3em;
    background-color: teal;
    color: tan;
    text-decoration: none;
    padding: .2em;
    margin-left: 1em;
    border-radius: .25em;
    align-self: flex-end;
}