.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  
}
h1, h2, h3, h4 {
  font-family: 'Titillium Web', sans-serif;
    letter-spacing: 0.1em;
}
h1{
  font-weight: 700;
  color: #b8ae58;
}

.article-lis-title {
  text-decoration: none;
  color: #b8ae58;
}

.article_lis_topic{
    color: #9e9649;
}
.articles_lis_info{
  font-size: 0.8em;
  color: #555;
}
.info_message{
  /* border: 1px dotted #eee; */
  font-style: italic;
  font-weight: 300;
  color: #bbb;
}

date{
  padding: 0em 0em 1em 0em;
  font-weight: 300;
  
}

button{
  
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.4em;
  color: #fff;

  padding: 1em 1em 1em 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;

  background: #b8ae58;
  border: 0px solid red;
  border-radius: 0.25em;

 
}

button:active{
  background: rgb(172, 229, 231);
}

button:hover{
  background: #8c9232;
}

.button_small{
  font-size: 0.6em;
 
}

input, textarea, select{
  padding: 0.9em 0.9em 0.9em 0.9em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.25em;
  border: 1px solid #b8ae58;
}
label {
  display: block;
}




