.App {
  /* text-align: center; */
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
}
h1, h2, h3, h4, .Patua {
  font-family: 'Patua One', cursive;
}

h1{
  font-weight: 900;
  letter-spacing: 2pt;
  font-kerning: auto;
  font-size: 5em;
  color:rgb(233, 219, 198);
}

h2{
  font-size: 4em;
}
h3{
  font-size: 2em;
}
/* Colours */
.Tan {
  color: #CFAE79; 
}
.SteelBlue {
  color: #3E92AE;
}
.MidnightBlue {
  color: #0A3741;
}
.Teal {
  color: #095567;
}

/*Beautiful dropped shadows*/
/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [optional spread radius] [color] */
.smallTextContourShadow {
  text-shadow: -1px 1px 1px rgba(248, 246, 145, 0.3);
}

.textContourShadow {
  text-shadow: .1em .1em 2px rgba(1, 10, 27, 0.9);
}
.contourShadow {
  box-shadow: .1em .1em 2px rgba(1, 10, 27, 0.9);
}
.dropShadow {
  box-shadow: 0em .5em 10px rgba(10, 11, 68, 0.1);
}
.dropInsetShadow {
  box-shadow: inset 0em .5em 10px rgba(10, 11, 68, 0.1);
}

/* Button styling */
.OutsideButton {
  color: tan;
 
}

.OutsideButton:hover {
  color: rgba(177, 220, 235, 0.171);
  /* border-bottom: 1px solid  #3E92AE; */
  background: -webkit-linear-gradient(#CFAE79, #3E92AE);
  background-clip: text ;
  /* text-fill-color: transparent;
  */
  text-shadow: .5em .5em 10px rgba(1, 10, 27, 0.3);
}


.DarkButton {
  color: #333333;
 
}

.DarkButton:hover {
  /* color: steelblue; */
  text-shadow: 1px 1px 1px rgba(39, 2, 36, 0.3);
}
.info_message{
  /* border: 1px dotted #eee; */
  font-style: italic;
  font-weight: 300;
  color: #bbb;
}

fieldset{
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
}

button {
  
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.4em;
  color: #fff;

  padding: 1em 1em 1em 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;

  background: #317488;
  border: 0px solid red;
  border-radius: 0.25em;

 
}

/* button:active{
  background: rgb(172, 229, 231);
}

button:hover{
  background: #8c9232;
} */

.button_small{
  font-size: 0.6em;
 
}

input, textarea, select{
  padding: 0.9em 0.9em 0.9em 0.9em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.25em;
  border: 1px solid #b8ae58;
}
label {
  display: block;
}




