.App {
display: flex;
background-color: gray;
flex-direction: column;
}

.TopPanel {

position: sticky;
top: 0;
height: 15vh;
width: 100%;
flex: 1;
background-color: aqua;
}

.ContainerPanel {

display: flex;
flex: 1;
justify-content: flex-start;
flex-direction: row;
}


.LeftPanel {
display: flex;
flex: 1;
background-color: peru;
}

.MainPanel {  
display: flex;
flex: 2;
background-color: purple;
}