.App, .TopPanel{
   
    background-image: url('./img/mountain_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: black;
}

.TopPanel {
z-index: 1;

position: sticky;
top: 0;
flex: 1;
min-height: 100px;
width: 100%;
/* background-color: rgb(255,255,255, 0.5); */

}

.ContainerPanel {
overflow: visible;
display: flex;
flex: 1;
justify-content: flex-start;
flex-direction: row;
}

.LeftPanel {
position: sticky;
text-align: right;
height: 100%;
top: 15vh; /*this adds the space for menu while sticky*/
width: 50vh;
padding-right: 2em;
}

.MainPanel {  
display: flex;
overflow-y: auto;
flex: 2;

}