.App-main-route{
    display: flex;
    flex: 1;
    padding-right: 1em;
    flex-direction: column;
}
.App, .TopPanel{
   
    background-image: url('./img/mountain_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-color: black;
}

.TopPanel {
z-index: 1;

position: sticky;
top: 0;
flex: 1;
min-height: 100px;
width: 100%;
/* background-color: rgb(255,255,255, 0.5); */

}

.ContainerPanel {
overflow: visible;
display: flex;
flex: 1;
justify-content: flex-start;
flex-direction: row;
}

.LeftPanel {
position: sticky;
text-align: right;
height: 100%;
top: 15vh; /*this adds the space for menu while sticky*/
width: 50vh;
padding-right: 2em;
}

.MainPanel {  
display: flex;
overflow-y: auto;
flex: 2;

}

.SinglePage{
    width: 75%;
}

.SingleColumnContainer {
    /* width: 20%; */
    flex-basis: 32%;
    margin-bottom: 1em;
    font-size: 0.8em;
    color: #555;
    border-bottom: 1px solid gray;
    background-color: aliceblue;
    border-radius: 0.2em;
  }

.ThreeColumnContainer {
    display: flex;
    flex: 1;
    flex-basis: 62%;
    background-color: aliceblue;
    border-radius: 0.2em;
}

  .SingleArticleCard {
    padding: 1em;
    margin: 1em;
    display: flex;
   flex-direction: column;
}
