@media only screen and (max-width: 768px) {
    .App {
        padding-top: 0vh;
    }
    .TopPanel {
        position: sticky;
        width: 100%;
        display: flex;
        flex: 1;
        justify-content: space-evenly;
        
        min-height: inherit;
        background-color: aqua;
    }
    .App-top-route {
        width: 100%;
    }
    .TopButton {
        display: flex;
        flex: 1;
        width: 20%;
        flex-direction: column;
        
        justify-content: center;
        align-content: baseline;   
        text-decoration: none;
        padding: 0em;
    
    }
    .TopButtonDescription {
        visibility: hidden;
        text-align: center;
        font-size: 0em;
    }
     
    .TopMenuLogo {
        max-width: 6em;
    }

    .ContainerPanel {
        display: flex;
        flex: 1;
        
        justify-content: flex-start;
        flex-direction: column;
        }

        .LeftPanel {
            position: relative;
        display: flex;
        flex: 1;
        top: 0; /*this removes the space for menu*/
        width: 100vw;
        
    }
    .MainPanel {  
        display: flex;
        flex: 2;
        background-color: purple;
        }

    .ArticlesContainer {
        display: flex;
        flex: 1;
        flex-direction: column !important;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-content: flex-end;
    }
}